@import "variable", "mixin";

html {
  font-size: 62.5%; /* 62.5%라는 것은 브라우저가 기본으로 제공하는 폰트사이즈의 62.5% 즉, 10px이라는 뜻이다. 1rem을 16px이 아닌 10px로 만들면 계산을 용이하게 할 수 있기 때문에 62.5%로 설정 하였습니다. */
}

body { 
  line-height: 1;
  letter-spacing: -0.5px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.3rem;
  color: $color-primary;
  word-break: keep-all;
}