@import "variable", "mixin";


/******************** user-menu-area ********************/ 
.user-menu-area {
  border-bottom: 1px solid $color-border;  

  &__inner {
    @include inner;

    display: flex;
    justify-content: space-between;
    padding-left: 16rem;
  }

  &__link-store {
    position: relative;
    display: block; /* ie때문에 필요합니다.*/
    width: 16rem;
    padding: 1rem 0 1rem 3.7rem;
    background: url(../images/icon_store-small.png) no-repeat 1.7rem center;
    font-size: 1.2rem;
    color: $color-primary;

    &:after {
      content: '';
      position: absolute;
      right: 47px;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 7px;
      background: url(../images/icon_arrow.png) no-repeat;
      font-size: 1.2rem;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-left: 1.2rem;

    a {
      font-size: 1.1rem;
      color: #acb6ba;
    }

    &--pass {
      a {
        color: #ff1f1f;
      }
    }

    &--news {
      margin-left: 1.9rem;

      a {
        position: relative;
        height: 100%;
        padding: 1rem 1.5rem;
        border-left: 1px solid $color-border;
        border-right: 1px solid $color-border;
        color: #3a5965;
        font-weight: 700;

        &:after {
          content: '10';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 2.5rem;
          height: 1.8rem;
          line-height: 1.8rem;
          padding: 0 .8rem;
          border-radius: 8px;
          background: linear-gradient(to bottom, #5edddf 0%,#0d96d9 100%);
          font-size: 1rem;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
}

/******************** content-area ********************/ 
.content-area {
  background-color: #f5f7f7;

  &__inner {
    @include inner;

    display: flex;
  }
}

/***** header *****/
.header {
  position: relative;
  width: 16rem;
  transform: translateY(-33px);

  &__gongbiz {
    display: block;
    height: 3.2rem;
    line-height: 3.2rem;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    font-size: 1.2rem;
    color: #acb6ba;
    font-weight: 700;
    text-align: center;
  }

  &__info {
    background: linear-gradient(to right, #3fdcdb, #4ab0e3);
  }

  &__owner-wrap {
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  &__shop-name {
    display: block;
    padding: 3.3rem 2rem 3.7rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
  }

  &__owner-name {
    display: flex;
    padding: 0 2rem 1rem;
    color: #fff;

    dt {
      margin-right: 1rem;
      font-weight: 700;
    }
  }

  &__staff-wrap {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: #fff;

    &:after {
      @include fontawesome;

      content: '\f054';
    }

    span {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  &__staff-list {
    display: flex;
    margin: 0 auto 0 .7rem;
  }

  &__staff-item {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    margin-right: -.8rem;
    background: url(../images/icon_staff.svg) no-repeat;
  }

  &__nav-album {
    position: relative;
    display: block;
    padding: 1.6rem 2rem;
    border: 1px solid $color-border;
    background: #f9f9fb;
    margin: 4px 0;
    color: #718c96;
    font-weight: 700;

    &:after {
      @include fontawesome;

      content: "\f03e";
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__nav-list {
    padding-top: 3.4rem;
    border: 1px solid $color-border;
    margin-bottom: .5rem;
    background-color: #fff;
  }

  &__nav-store img {
    width: 100%;
  }

  &__nav-item-1depth:not(:last-child) {
    padding: 0 2rem;
    margin-bottom: 2.4rem;
  }

  &__nav-item-1depth:last-child {
    padding: 2.1rem 2rem 2rem;
    background-color: #fafcfc;
  }

  &__nav-1depth-text {
    display: block;
    margin-bottom: .8rem;
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: 700;

    &--reservation {
      color: $color-highlight;
    }
  }

  &__nav-item-2depth:not(:first-child) {
    margin-top: .9rem;
  }

  &__nav-2depth-text {
    display: block;
    color: $color-primary;
  }

  &__nav-1depth-text,
  &__nav-2depth-text {
    &:hover {
      color: $color-highlight;
    }
  }
}

/***** main *****/
h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

.main {
  width: 87rem;
  padding: 3.2rem 0 0 3rem;

  &__category-list {
    display: flex;
    margin: 5.2rem 0 2.7rem;
  }

  &__category-item {
    margin-right: 2.3rem;

    a {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  &__category-album {
    position: relative;
    color: $color-primary;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 26px;
      height: 3px;
      background-color: $color-highlight;
    }
  }

  &__category-art {
    color: #bad0d3;
  }

  &__btn-new-art-wrap {
    margin-bottom: 2.2rem;
    text-align: center;
    
    button {
      height: 3.8rem;
      padding-left: 5rem;
      background: url(../images/icon_plus.png) no-repeat;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 2.4rem;
      color: $color-primary;
      cursor: pointer;
    }
  }

  &__album-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__album-item {
    position: relative;
    width: calc(25% - 1.5rem);
    margin: 0 1.5rem 1.5rem 0;
    cursor: pointer;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &.clicked:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 4px solid #58e5e4;
    }
  }

  &__album-image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__album-description-wrap {
    height: 10rem;
    padding: 3.2rem 1rem .9rem 1.5rem;
    background: rgba(0, 0, 0, .7);
    color: #fff;

    p {
      margin: .6rem 0 1.9rem;
      color: #a2a1a0;
    }
  }

  &__album-price-wrap {
    display: flex;
    justify-content: space-between;

    em {
      color: #a2a1a0;
    }
  }

  &__album-pagination-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.1rem;
    background-color: #f5f7f7;
  }

  &__album-pagination__list {
    padding: 0 1.4rem;
    transform: translateY(-2px);
  }

  &__album-pagination__item {
    font-size: 1.2rem;
    color: #37454a;
    font-weight: 700;

    a {
      color: #37454a;
    }
  }

  &__album-pagination-btn-prev,
  &__album-pagination-btn-next {
    i {
      color: $color-highlight;
    }
  }
}

/***** modal *****/
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);

  &.active {
    display: block;
  }

  &__contents-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60rem;
    height: 73rem;
    border-top: 1px solid #d2d3d4;
    border-bottom: 1px solid #d2d3d4;
    background-color: #fff;
  }

  &__name {
    padding: 3.3rem 0 0 2.1rem;
    font-size: 1.8rem;
    color: $color-highlight;
    font-weight: 700;
  }

  &__slide-wrap {
    position: relative;
    margin-top: 16rem;
    overflow: hidden;
  }

  &__slide-list {
    display: flex;
    transform: translateX(-100%);
  }

  &__slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
  }

  &__btn-prev,
  &__btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4.6rem;
  }

  &__btn-prev {
    left: 4rem;
  }

  &__btn-next {
    right: 4rem;
  }

  &__pager-wrap {
    margin: 10.3rem 0 1.4rem;
    text-align: center;
    
    button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #acaeaf;
      margin: 0 6px;

      &.active {
        background-color: #000;
      }
    }
  }

  &__control-wrap {
    display: flex;
    height: 5rem;
  }

  &__btn-delete {
    flex: 1;
    background-color: #f7fafb;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    color: #969ea0;
    font-weight: 700;

    &:hover {
      color: #707a7d;
    }
  }

  &__btn-edit {
    flex: 1;
    background-color: #38464b;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;

    &:hover {
      background-color: #29373b;
    }
  }

  &__btn-close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }
}

/******************** calendar-widget ********************/ 
.calendar-widget {
  position: fixed;
  right: 3.1rem;
  top: 5.5rem;
  width: 25rem;
  border-radius: 12px;
  box-shadow: 0px 2px 10px $color-border;

  &__toggle-contents-wrap {
    & > div:not(:last-child) {
      display: none;
    }
  }

  &__today {
    & > div {
      display: none;
    }
  }

  &__status-wrap {
    display: flex;
    align-items: center;
    height: 4.5rem;
    padding: 1.2rem 1.6rem 1.2rem 1.5rem;
    border-radius: 12px 12px 0 0;
    background-color: #364549;

    h2 {
      font-size: 1.4rem;
      color: #fff;
    }
  }

  &__toggle-wrap {
    position: relative;
    display: flex; /* a요소간의 간격을 없애기 위해 */
    border: 1px solid #738083;
    border-radius: 10px;
    margin: 0 auto 0 .9rem;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 51%;
      height: 100%;
      border-radius: 10px;
      background-color: #fff;
    }

    &.to-right:after {
      left: auto;
      right: 0;
    }
  }

  &__btn-toggle {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 22px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    
    &:last-child {
      margin-right: 0;
    }

    &.active {
      color: #3a5965;
    }
  }

  &__tabs-list {
    display: flex;
    height: 3.5rem;
    border-bottom: 1px solid $color-border;
    background-color: #fff;
    margin-bottom: 6px;
  }

  &__tabs-item {
    width: 25%;
  }

  &__tabs-target {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 11px;
    color: #87969c;

    &.active {
      color: #364549;
      font-weight: 700;
    }

    &.active:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #364549;
    }
  }

  &__all-wrap {
    border-top: 1px solid $color-border;
    background-color: #fff;
  }

  &__all-item {
    display: flex;
    padding: 1.5rem 1rem 1.5rem 0;
    border-bottom: 1px solid $color-border;
  }

  &__date-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    border-right: 1px solid $color-border;
  }

  &__day {
    display: block;
    font-size: 1rem;
    color: #9ca8ad;
    margin-bottom: 0.7rem;
  }

  &__time {
    display: block;
    font-size: 1.3rem;
    color: #364549;
    font-weight: 700;
  }

  &__description-wrap {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 1.2rem;
  }

  &__customer-name {
    margin-bottom: .5rem;
    font-size: 12px;
    color: #333;
  }

  &__reservation-status {
    font-size: 1rem;
    color: #0085ef;
    font-weight: 700;
    margin-right: .6rem;

    &--color {
      color: #3fd2d1;
    }
  }

  &__reservation-manager {
    font-size: 1rem;
    color: #888;
  }

  &__btn-edit {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #ebecec;
  }

  &__calendar-wrap {
    position: relative;
    height: 6.2rem;
    padding: 1.2rem 2rem;
    border-bottom: 1px solid $color-border;
    margin-bottom: .5rem;
    background-color: #fff;
  }

  &__calendar-list {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  &__calendar-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
  }

  &__calendar-day {
    display: block;
    margin-bottom: 0.6rem;
    font-size: 1rem;
    color: #aeb8bc;
  }

  &__calendar-date {
    display: block;
    font-size: 1.6rem;
    color: #aeb8bc;
  }

  &__btn-calendar-prev,
  &__btn-calendar-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #dbe3e3;
    border-radius: 50%;
    background: #fff;
  }

  &__btn-calendar-prev {
    left: -1rem;
  }

  &__btn-calendar-next {
    right: -1rem;

    img {
      transform: rotate(180deg);
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.1rem;
    background-color: #f5f7f7;
  }

  &__pagination-list {
    padding: 0 1.4rem;
    transform: translateY(-2px);
  }

  &__pagination-item {
    font-size: 1.2rem;
    color: #37454a;
    font-weight: 700;

    a {
      color: #37454a;
    }
  }

  &__btn-pagination-prev,
  &__btn-pagination-next {
    i {
      color: $color-highlight;
    }
  }
}


